{% autoescape None %}
{% extends template.html %}
{% block jsinit %}
    var viewers, subjects, datasets, figure, sock, viewopts;
{% end %}
{% block onload %}
		viewopts = {
			voxlines: {{voxlines}},
			voxline_width: {{voxline_width}},
			default_2Dcmap: "RdBu_covar",
		};
		
		subjects = {{subjects}};
		dataviews = dataset.fromJSON({{data}});

		figure = new jsplot.W2Figure();
		viewers = figure.add(mriview.MultiView, "main", true, {{ layout[0] }}, {{ layout[1] }}, dataviews);
		//viewers = figure.add(sliderview.SView, "right", true, {{ layout[0] }}, {{ layout[1] }});
		
		document.title = 'Brain on Music';
		function mir_getvalue( vw, coord, slice, dataname ) {
		    console.log(dataname);
			mosaic = vw.dataviews[dataname].data[0].mosaic;
			dshape = vw.dataviews[dataname].data[0].shape;
			 
			var pos = {x:slice % mosaic[0], y:slice / mosaic[0]};
			var offset = {x:(Math.floor(pos.x) * (dshape[0]+1.)) + 1. , y:(Math.floor(pos.y) * (dshape[1]+1.)) + 1.};
			
			var imsize = {x:(mosaic[0] * (dshape[0]+1.)) + 1., y:(mosaic[1] * (dshape[1]+1.)) + 1.};
			
			var uv_x = (2.*(offset.x+coord.x)+1.) / (2.*imsize.x);
			var uv_y = (2.*(offset.y+coord.y)+1.) / (2.*imsize.y);
			
			// coord position is returned already rounded by marker position
			var uv_x_abs = offset.x+coord.x;
			var uv_y_abs = offset.y+coord.y;
			
			var im = vw.dataviews[dataname].data[0].textures[0].image;
			var w = im.width;
			var h = im.height;
			
			var idx = Math.floor(uv_y_abs * w + uv_x_abs);
			
			var m = 0;
			var mpos = -1;
			data = vw.dataviews[dataname].data[0].textures[0].image.data;
			for (i = 0; i < data.length; i++) {
    			if (data[i] > m) {
    				m = data[i];
    				mpos = i;
    			}
			}
			console.log("Max value at index "+mpos+" and uv pos ["+mpos%w+","+Math.floor(mpos/w)+"]: "+m);
			
			var val = vw.dataviews[dataname].data[0].textures[0].image.data[idx];
			console.log("mir_getvalue: Voxel value at ["+coord.x+","+coord.y+","+slice+"]: "+val);
			//console.log("Offset=["+offset.x+","+offset.y+"] - UV=["+uv_x_abs+","+uv_y_abs+"] - Mosaic position=["+pos.x+","+pos.y+"]");
			//$("#dataname .datadesc").text(val)
			
			
			return val;
		}
		
		function pad(num, size) {
		    var s = num+"";
		    while (s.length < size) s = "0" + s;
		    return s;
		}	
		
		FacePick.prototype.callback = function( vec, hemi, ptidx ){
			var coord = {x:vec.x, y:vec.y}; 
			var slice = vec.z;
			
			this.mir_feature_names = ['ZCR', 'CENTROID', 'BRIGHTNESS', 'SPREAD', 'ROLLOFF', 'ENTROPY', 'FLATNESS', 'ROUGHNESS', 'RMS', 'BAND_FLUX_50', 'BAND_FLUX_100', 'BAND_FLUX_200', 'BAND_FLUX_400', 'BAND_FLUX_800', 'BAND_FLUX_1600', 'BAND_FLUX_3200', 'BAND_FLUX_6400', 'BAND_FLUX_12800', 'BAND_FLUX_INF', 'PULSE_CLARITY', 'KEY_CLARITY'];

	    	//console.log( JSON.stringify( $(this.object).find("#mir_"+this.mir_feature_names[1]), null, 4) );
	
			for (var i = 0; i < this.mir_feature_names.length; i++) {
	    		
	        	var val = mir_getvalue( this.viewer, coord, slice,  this.mir_feature_names[i]);
	        	$("#mir_"+this.mir_feature_names[i]).slider('value', val);
	        	
			}
			
			mosaic = this.viewer.dataviews['CORR'].data[0].mosaic;
			dshape = this.viewer.dataviews['CORR'].data[0].shape;
			 
			var pos = {x:slice % mosaic[0], y:slice / mosaic[0]};
			var offset = {x:(Math.floor(pos.x) * (dshape[0]+1.)) + 1. , y:(Math.floor(pos.y) * (dshape[1]+1.)) + 1.};
			
			var imsize = {x:(mosaic[0] * (dshape[0]+1.)) + 1., y:(mosaic[1] * (dshape[1]+1.)) + 1.};
			
			var uv_x = (2.*(offset.x+coord.x)+1.) / (2.*imsize.x);
			var uv_y = (2.*(offset.y+coord.y)+1.) / (2.*imsize.y);
			
			// coord position is returned already rounded by marker position
			var uv_x_abs = offset.x+coord.x;
			var uv_y_abs = offset.y+coord.y;
			
			var im = this.viewer.dataviews['CORR'].data[0].textures[0].image;
			var w = im.width;
			var h = im.height;
			
			var idx = Math.floor(uv_y_abs * w + uv_x_abs);
			
			var m = 0;
			var mpos = -1;
			data = this.viewer.dataviews['CORR'].data[0].textures[0].image.data;
			for (i = 0; i < data.length; i++) {
    			if (data[i] > m) {
    				m = data[i];
    				mpos = i;
    			}
			}
			console.log("Max value at index "+mpos+" and uv pos ["+mpos%w+","+Math.floor(mpos/w)+"]: "+m);
			
			var val = this.viewer.dataviews['CORR'].data[0].textures[0].image.data[idx];
			console.log("Voxel value at ["+coord.x+","+coord.y+","+slice+"]: "+val);
			//console.log("Offset=["+offset.x+","+offset.y+"] - UV=["+uv_x_abs+","+uv_y_abs+"] - Mosaic position=["+pos.x+","+pos.y+"]");
			$("#dataname .datadesc").text(parseFloat(Math.round(val * 100) / 100).toFixed(2));
		};

{% end %}

{% block extrahtml %}
<style type=text/css>

#mir_features {
	min-width: 350px;
	color: white;
}

#circles-slider.ui-slider {
  border-radius: 10px;
  background: #434d5a;
  border: none;
  height: 5px;
  margin: 1em 4em 4em;
  width: 300px; }
                    
#circles-slider .ui-slider-handle {
  border-radius: 23px;
  height: 23px;
  width: 23px;
  top: -7px;
  margin-left: -11px;
  border: 2px solid #fffaf7; }
                    
#circles-slider .ui-slider-pip {
  top: 3px; }
                    
  #circles-slider .ui-slider-pip .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
    background: #fffaf7; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-last,
  #circles-slider .ui-slider-pip.ui-slider-pip-first {
    top: -7px; }
                    
    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
      display: none; }
                    
    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
      margin: 0; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
    left: -2em;
    text-align: right; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label {
    left: 2em;
    text-align: left; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected,
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a; }

</style>

<script type='text/html' id='sliderview_html'>

	
		<div id="circles-slider">
		<div class='opt_category'>
				<fieldset id="mir_features" class='subtable' >
					<legend><b>MIR Features</b></legend>
					
					<div class='display_opt'>
						<table id='layerZCR'>
							<tr title="ZCR">
								<td><label for='mir_ZCR'>ZCR</label></td>
								<td><div id='mir_ZCR'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerCENTROID'>
							<tr title="CENTROID">
								<td><label for='mir_CENTROID'>CENTROID</label></td>
								<td><div id='mir_CENTROID'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerBRIGHTNESS'>
							<tr title="BRIGHTNESS">
								<td><label for='mir_BRIGHTNESS'>BRIGHTNESS</label></td>
								<td><div id='mir_BRIGHTNESS'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerSPREAD'>
							<tr title="SPREAD">
								<td><label for='mir_SPREAD'>SPREAD</label></td>
								<td><div id='mir_SPREAD'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerROLLOFF'>
							<tr title="ROLLOFF">
								<td><label for='mir_ROLLOFF'>ROLLOFF</label></td>
								<td><div id='mir_ROLLOFF'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerENTROPY'>
							<tr title="ENTROPY">
								<td><label for='mir_ENTROPY'>ENTROPY</label></td>
								<td><div id='mir_ENTROPY'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerFLATNESS'>
							<tr title="FLATNESS">
								<td><label for='mir_FLATNESS'>FLATNESS</label></td>
								<td><div id='mir_FLATNESS'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerROUGHNESS'>
							<tr title="ROUGHNESS">
								<td><label for='mir_ROUGHNESS'>ROUGHNESS</label></td>
								<td><div id='mir_ROUGHNESS'></div></td>
							</tr>
						</table>
					</div>
					
					<div class='display_opt'>
						<table id='layerRMS'>
							<tr title="RMS">
								<td><label for='mir_RMS'>RMS</label></td>
								<td><div id='mir_RMS'></div></td>
							</tr>
						</table>
					</div>
					
					<div class="display_opt">
                        <table id="layerBAND_FLUX_50">
                        <tbody><tr title="BAND_FLUX_50">
                        <td><label for="mir_BAND_FLUX_50">BAND_FLUX_50</label></td>
                        <td><div id="mir_BAND_FLUX_50"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_100">
                        <tbody><tr title="BAND_FLUX_100">
                        <td><label for="mir_BAND_FLUX_100">BAND_FLUX_100</label></td>
                        <td><div id="mir_BAND_FLUX_100"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_200">
                        <tbody><tr title="BAND_FLUX_200">
                        <td><label for="mir_BAND_FLUX_200">BAND_FLUX_200</label></td>
                        <td><div id="mir_BAND_FLUX_200"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_400">
                        <tbody><tr title="BAND_FLUX_400">
                        <td><label for="mir_BAND_FLUX_400">BAND_FLUX_400</label></td>
                        <td><div id="mir_BAND_FLUX_400"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_800">
                        <tbody><tr title="BAND_FLUX_800">
                        <td><label for="mir_BAND_FLUX_800">BAND_FLUX_800</label></td>
                        <td><div id="mir_BAND_FLUX_800"/></td>
                        </tr>

                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_1600">
                        <tbody><tr title="BAND_FLUX_1600">
                        <td><label for="mir_BAND_FLUX_1600">BAND_FLUX_1600</label></td>
                        <td><div id="mir_BAND_FLUX_1600"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_3200">
                        <tbody><tr title="BAND_FLUX_3200">
                        <td><label for="mir_BAND_FLUX_3200">BAND_FLUX_3200</label></td>
                        <td><div id="mir_BAND_FLUX_3200"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_6400">
                        <tbody><tr title="BAND_FLUX_6400">
                        <td><label for="mir_BAND_FLUX_6400">BAND_FLUX_6400</label></td>
                        <td><div id="mir_BAND_FLUX_6400"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_12800">
                        <tbody><tr title="BAND_FLUX_12800">
                        <td><label for="mir_BAND_FLUX_12800">BAND_FLUX_12800</label></td>
                        <td><div id="mir_BAND_FLUX_12800"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerBAND_FLUX_INF">
                        <tbody><tr title="BAND_FLUX_INF">
                        <td><label for="mir_BAND_FLUX_INF">BAND_FLUX_INF</label></td>
                        <td><div id="mir_BAND_FLUX_INF"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerPULSE_CLARITY">
                        <tbody><tr title="PULSE_CLARITY">
                        <td><label for="mir_PULSE_CLARITY">PULSE_CLARITY</label></td>
                        <td><div id="mir_PULSE_CLARITY"/></td>
                        </tr>
                        </tbody></table>
                        </div>
                        <div class="display_opt">
                        <table id="layerKEY_CLARITY">
                        <tbody><tr title="KEY_CLARITY">
                        <td><label for="mir_KEY_CLARITY">KEY_CLARITY</label></td>
                        <td><div id="mir_KEY_CLARITY"/></td>
                        </tr>
						</table>
					</div>
    
				</fieldset>
		</div>
		</div>
</script>
{% end %}

